body {
  font: 62.5% "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  background: #222222;
  margin: 10px;
}

h1 {
  color: #98D2FB;
}

li {
  margin-left: 0;
}

#global-controls {
  float: right;
  padding: 5px;
  border: 1px solid #98D2FB;
  border-radius: 5px;
}

#global-controls a, #global-controls p {
  float: left;
  margin: 0;
}

.transfer-rate {
  float: left;
  width: 80px;
}

.transfer-rate span {
  float: left;
}

.template {
  display: none;
}

#downloads {
  width: 100%;
}

.download h3 {
  height: 24px;
  padding: 10px 30px 0px 30px;
}

.progress {
  min-width: 200px;
  text-align: center;
}

.accordion-header {
}

.download-name {
  display: none;
}

.progress-bar {
  opacity: 0.7;
  width: 100%;
  margin-right: 10px;
}

.download-controls {
}

.download-controls a {
  float: left;
  margin: 0;
}